!!!
%html
  %head
    %title Aloo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{charset: "utf-8"}
    %meta{:'http-equiv'=> "X-UA-Compatible", content: "IE=edge"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %header#header
      %nav#nav
        .container
          =link_to 'Aloo', root_path, class: 'brand'
          %ul.menu
            %li=link_to '@otobrglez', 'https://twitter.com/otobrglez'

      .intro.container
        .inside-content
          %h1.big Business analytics. Fast.

          %p.details
            Aloo is simple way to create and share real-time analytical dashboards with others.

            %small *it's like Gist, but for BI.

          %p.call-to-action
            = link_to "#", class: %w{btn btn-default btn-lg nice}, 'data-toggle'=>"modal", 'data-target'=>"#blankBoard"  do
              Create new dashboard
              for free!

          -#
            %p.more-details
              This project was build in 48 hours by
              =link_to "Oto Brglez", "https://twitter.com/otobrglez"
              for
              = link_to "RailsRumble 2014", "http://railsrumble.com/"

          %p.more-details
            Examples rule! Check

            %a.btn.btn-default.nice{href: 'http://aloo.r14.railsrumble.com/boards/590388c41'} running distance visualisation

            and this

            %a.btn.btn-default.nice{href: 'http://aloo.r14.railsrumble.com/boards/3e1d07053'} Ruby trends from imported from Google Trends



    #welcome
      .container
        .col-md-4.d-column
          %span.icon.api
          %h1 API
          %p Aloo has very simple, secure and robust API that handles large amount of key performance indicators (KPIs) from your business.
        .col-md-4.d-column
          %span.icon.agg
          %h1 Aggregating
          %p Aloo uses demoralized NoSQL database to store precomputed data on the fly.
        .col-md-4.d-column
          %span.icon.dash
          %h1 Dashboards
          %p Aloo instantly provides elegant and powerful dashboards that makes sense of your data.

    = render partial: 'boards/blank_modal', locals: { board: @board }
    = render 'layouts/footer'


