!!!
%html
  %head
    %title Aloo
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

    %meta{charset: "utf-8"}
    %meta{:'http-equiv'=> "X-UA-Compatible", content: "IE=edge"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body{class: [controller.controller_name, controller.action_name].join("-")}
    %header#header
      %nav#nav
        .container
          =link_to 'Aloo', root_path, class: 'brand'

          - if content_for?(:title)
            = yield :title
          %ul.menu
            %li=link_to '@otobrglez', 'https://twitter.com/otobrglez'

    #content
      =yield

    = render partial: 'boards/blank_modal', locals: {board: Board.new}
    = javascript_include_tag 'application'
